Django
psycopg2
psycopg2-binary
gunicorn
python-dotenv
django-crispy-forms
crispy-bootstrap5
django-filter
fontawesomefree
Pillow
django-heroku
whitenoise
django-defender
async-timeout
packaging
pyparsing
redis
sqlparse
tzdata
wrapt