{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card text-black" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <div class="box-element">
                    <div class="cart-row">
                        <div style="flex:2"></div>
                        <div style="flex:2"><strong>Item</strong></div>
                        <div style="flex:1"><strong>Price</strong></div>
                        <div style="flex:1"><strong>Quantity</strong></div>
                        <div style="flex:1"><strong>Total</strong></div>

                    </div>
                    {% for item in items %}
                        <div class="cart-row">
                            <div style="flex:2"><img class="row-image" src="{{item.cloth.imageURL}}"></div>
                            <div style="flex:2"><p>{{ item.cloth.name }}</p></div>
                            <div style="flex:1"><p>${{ item.cloth.price|floatformat:2 }}</p></div>
                            <div style="flex:1">
                                <p class="quantity">x{{ item.quantity }}</p>
                                <div class="quantity">
                                    <i class='bx bx-chevron-up'></i>
                                    <i class='bx bx-chevron-down'></i>
                                </div>
                            </div>
                            <div style="flex:1">${{item.get_total}}</div>
                        </div>
                    {% endfor %}

                </div>
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
