{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags  %}
{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-black" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="form-outline form-white mb-4">
                    <div id="div_id_username" class="control-group">
                      <div class="controls">
                          {{ form|crispy}}
                      </div>
                    </div>
                  </div>
                <p class="small mb-5 pb-lg-2"><a class="text-black-50" href="#!"></a></p>
                <button class="btn btn-outline-dark btn-lg px-5" type="submit">Add</button>
              </form>
              {% for message in messages %}
                {% if message.tags == 'sucess' %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                {% endif %}
                {% if message.tags == 'error' %}
                  <div class="alert alert-danger">
                    {{ message }}
                  </div>
                {% endif %}
              {% endfor %}
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}