{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
<title>{{cloth.name}}</title>
<div class="container mt-5 mb-5">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-4 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div class="main_image">
            <img
              src="{{cloth.picture.url}}"
              id="main_product_image"
              width="250"
            />
          </div>
          
        </div>
      </div>
      <div class="col-md-8">
        <div class="p-2 right-side">
          <div class="d-flex justify-content-between align-items-center">
            <br>
            <h3>{{cloth.name}}</h3>
          
            <a href="{% url 'addWishlistPage' cloth.id%}"><span class="heart"><i class="bx bx-heart"></i></span></a>
          </div>
          <div class="mt-2 pr-3 content">
            <p><b>Size:</b> {{cloth.size}}</p>
            <br>
            <p><b>Type:</b> {{cloth.clothing_type}}</p>
         
          </div>
          <br>
         
          <h5>$ {{cloth.price}}</h5>
         
          <div class="mt-10">
           
          </div>
          
          <div class="buttons d-flex flex-row mt-5 gap-5">
            {% if not user.is_staff %}
            
              <button data-product={{cloth.id}} data-action="add" class="btn">Buy Now</button>
              
            {% endif %}

            {% if request.user.is_staff %}
              
                <a href="{% url 'updateClothPage' cloth.id %}" class="btn">
                  <i class="bx bx-edit-alt"></i>
                </a>
              
              <a href="{% url 'deleteClothPage' cloth.id %}" class="btn">
                <i class="bx bx-trash-alt"></i>
            </a>
            {% endif %}
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock %} 
