{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/confighome.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<title>Home</title>


 <!-- Modal -->
 <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>



<!-- Start Banner Hero -->
<section class="bg-dark">
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Gabay</b>Store</h1>
                            <h3 class="h2">Tiny and Perfect eCommerce</h3>
                            <p class="ptest">
                                Gabay Store is an eCommerce made for you who like high quality products with great cost.
                                This site has some beautiful <a rel="sponsored" class="text-success" href="https://templatemo.com" target="_blank">Hoodies</a>
                                We also have  <a rel="sponsored" class="text-success" href="https://stories.freepik.com/" target="_blank">T-Shirts</a> and 
                                <a rel="sponsored" class="text-success" href="https://unsplash.com/" target="_blank">Shirts</a>.
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Tiny and Perfect eCommerce</h1>
                            <h3 class="h2">Made for you</h3>
                            <p>
                                This web application has the purpose of simplifying the purchases made on the internet.
                                offering products of good quality and great reliability in a simple way and a great attention to our customers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Web Programming</h1>
                            <h3 class="h2">Integrative Project </h3>
                            <p>
                                I bring to you a 100% original project in which we use the Django framework for the back-end. 
                                along with the Postgresql database and for the front-end we use Bootstrap 5 and HMTL5.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3 carouselcolor" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class='bx bxs-chevron-left'></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3 carouselcolor" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class='bx bxs-chevron-right'></i>
    </a>
</div>
</section>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories of The Month</h1>
            <p>
                In this section we have the most searched categories in our site.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="{% url 'storePage' %}"><img src="" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Hoodies</h5>
            <p class="text-center"><a href="{% url 'storePage' %}" class="btn btn-success">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="{% url 'storePage' %}"><img src="" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">T-Shirts</h2>
            <p class="text-center"><a href="{% url 'storePage' %}" class="btn btn-success">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="{% url 'storePage' %}"><img src="" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Shirts</h2>
            <p class="text-center"><a href="{% url 'storePage' %}" class="btn btn-success">Go Shop</a></p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->

{% endblock %}