{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Orders</title>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-5 col-xl-10">
          <div class="card text-black" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <img src="{{cloth.picture.url}}" class="card-img-top">
                
                <a href="{% url 'homePage' %}">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Date Order</th>
                        <th scope="col">Item Quantity</th>
                        <th scope="col">Transaction Id</th>
                        <th scope="col">Paid Status</th>
                        <th scope="col">Total Price</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for Order in orders %}
                        <tr>
                            <th scope="row">{{Order.id}}</th>
                            <td>{{Order.customer}}</td>
                            <td>{{Order.date_order|date:"d/m/Y"}}</td>
                            <td>{{Order.get_cart_items}}</td>
                            <td>{{Order.transaction_id}}</td>
                            <td>{{Order.paid_status}}</td>
                            <td>{{Order.get_cart_total}}</td>
                        </tr>
                        
                        {% endfor %}
                        </tbody>
                    </a>
                  </table>
           
  
           
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

