

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  {% for Cloth in clothes %}
 
    <div class="col" style="width: 18rem;">
      <div class="card">
        <a href="{% url 'detailClothPage' Cloth.id%}" id="{{Banco.id}}"><img src="{{Cloth.picture.url}}" class="card-img-top" alt="{{Cloth.picture.url}}"></a>
        <div class="card-body">
          <h5 class="card-title">{{Cloth.name}}</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    {% endfor %}

{% endblock %}