{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>Login</title>
<link rel="stylesheet" href="{% static 'css/login_register.css' %}">
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card text-black" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                <form action="" method="POST">
                  {% csrf_token %}
                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                    <p class="text-black-50 mb-5">Enter your username and password!</p>
  
                    <div class="form-outline form-white mb-4">
                    <div id="div_id_username" class="control-group">
						          <label for="id_username" class="control-label">Username</label>
                        <div class="controls">
                            <input class="form-control form-control-lg" id="username"  name="username" required autofocus type="text" />
                        </div>
                    </div>
                </div>

                    <div class="form-outline form-white mb-4">
                    <div id="div_id_password1" class="control-group">
						          <label for="password" class="control-label">Password</label>
                        <div class="controls">
                            <input class="form-control form-control-lg" id="password" maxlength="254" name="password" required type="password" />
                        </div>
                    </div>
                </div>
                {% for message in messages %}
    
                    <div class="alert alert-danger">
                        <a class="close" href="{% url 'loginPage' %}" data-dismiss="alert"></a>
                          {{ message }}
                    </div>

                {% endfor %}

                <p class="small mb-5 pb-lg-2"><a class="text-black-50" href="#!"></a></p>
  
                <button class="btn btn-outline-dark btn-lg px-5" type="submit">Login</button>
  
                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                
                </div>
                </form>
              </div>
  
              <div>
                <p class="text-black-50 mb-0">Don't have any account? <a href="{% url 'registerPage' %}" class="text-black-50 fw-bold">Sign-up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock  %}