body {
  background-color: #ecedee;
}
.card {
  border: none;
  overflow: hidden;
}

.main_image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
.heart {
  height: 29px;
  width: 29px;
  background-color: #eaeaea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart:hover{
  color: #0c2c3c;
  background-color: #0c2c3c;
}


.content p {
  font-size: 15px;
  
}

.right-side {
  position: relative;
}


.btn{
  background-color: #0c2c3c;
  border-color: #0c2c3c;
  color: white;
  width: 100%;
  font-size: 0.9rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}

.btn:hover{
  color: #0c2c3c;
  background-color: white;
}
a{
  color: black; 
}
a:hover{
  color: black;
  text-decoration: none;
}